{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/forms.css')}}">
{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('main.questions_view') }}">
    {{ form.hidden_tag() }}

    {% set printed_titles = [] %}
    {% for question in question_data %}
        {% if question[0] not in printed_titles %}
            <h1>{{ question[0] }}</h1>
            {% set _ = printed_titles.append(question[0]) %}
        {% endif %}
        <div class="question_set">
            <p>{{ question[3] }}</p>
            {% if question[4] == 'text' %}
                {{ form['staff_response_' ~ question[1]] }}
            {% else %}
            <p> Self evaluation</p>
                {{ form['staff_scale_' ~ question[1]] (class="radio_button") }}
            <p> Comment</p>
                {{ form['staff_comment_' ~ question[1]]  }}
            
            {% endif %}
        </div>
    {% endfor %}

    {{ form.submit (class="button") }}
    <a href = "{{ url_for( 'main.home_return') }}"><button type="button">Back</button></a>
</form>
{% endblock content %}
